.purchasedCard {
    width: 95%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.yellowCircle {
    width: 65px;
    height: 59px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #FFBB00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchasedCard h2 {
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    opacity: 0.7;
}

.purchasedCard p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
}

.borderBottomDashed {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.borderTopDashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.15);
}

.purchasedCard .bagIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width:500px) {
    .yellowCircle {
        width: 45px;
        height: 39px;
    }

    .yellowCircle img {
        width: 70%;
    }

    .purchasedCard h2 {
        font-size: 16px;
    }

    .purchasedCard p {
        font-size: 12px;
    }
}

.goBackArrow {
    color: #000000;
    opacity: 0.4;
}

.showCompleted,
.shownCompleted {
    background: #F5F5F5;
    border-radius: 45px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    opacity: 0.7;
}

.shownCompleted {
    border: 1px solid #FFBB00;
}

.riyanSharma {
    border-radius: 50%;
}

.teacherName {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.teacherDescription {
    font-weight: 700;
    font-size: 12px;
    color: #000000;
}

.avhhyasDate {
    border: 1px solid #FFBB00;
    border-radius: 6px;
}

.reshuffleCourseBtn {
    background: #FFBB00;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

@media screen and (max-width:500px) {

    .goBackArrow {
        font-size: 20px;
    }

    .showCompleted,
    .shownCompleted {
        font-size: 12px;
    }

    .riyanSharma {
        width: 40px;
        height: 40px;
    }

    .teacherName {
        font-size: 18px;
    }

    .teacherDescription {
        font-size: 10px;
    }

    .reshuffleCourseBtn {
        font-size: 14px;
    }
}

.blueColor {
    color: #45C9C2;
}

/* studentProfileVideoCoursesDetailsAfterStart page css */
.bigVideoBg {
    height: 450px;
    background: #FFFFFF;
    border: 1px solid #FFBB00;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.25);
    margin-top: -200px;
}

.bigVideo {
    width: 100%;
    height: 100%;
}

.greenTick2 {
    width: 30px;
    height: 30px;
}

.startTestBtn {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: #FFBB00;
    border: 1px solid #FFBB00;
    border-radius: 6px;
}

@media screen and (max-width:500px) {
    .greenTick2 {
        width: 25px;
        height: 25px;
        margin-top: 10px;
    }

    .startTestBtn {
        font-size: 10px;
        margin-top: 10px;
    }

}

/* reshuffle courses css */
.reshuffleCourseDropdown {
    width: 100%;
    padding: 5px 10px 5px 10px;
    height: 43px;
    border: 1px solid #FFBB00;
    border-radius: 6px;
}

.reshuffleCourseDropdown:focus {
    box-shadow: none;
}

.blueBorder {
    border: 1px solid #B7A6FF !important;
}

.opacity1 {
    opacity: 1 !important;
}

.recorder {
    width: 417px;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.recorder #playPause {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 83px;
    color: #FFFFFF;
    background: #686868;
    border-radius: 10px 0px 0px 10px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.recorder .stop {
    width: 69px;
    height: 83px;
    border-left: 2px solid #FFFFFF;
    background: #686868;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.recorder .redCircle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #F02626;
}

.recorder .videoTimerYellowCircle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFBB00;
    color: #FFFFFF;
    z-index: 5;
}

.recorder .timer {
    width: 134px;
    height: 37px;
    margin-left: -10px;
    background: #F5F5F5;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
}

.recorder a {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

#videoFa {
    font-size: 30px;
}

.redColor {
    color: #F02626 !important;
}

@media screen and (max-width:500px) {

    .recorder {
        width: 290px;
        height: 73px;
    }

    .recorder #playPause {
        /* width: 100px; */
        height: 73px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .recorder .stop {
        /* width: 69px; */
        height: 73px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .recorder .redCircle {
        width: 25px;
        height: 25px;
    }

    .recorder .videoTimerYellowCircle {
        width: 35px;
        height: 35px;
    }

    #videoFa {
        font-size: 18px;
    }

    .recorder .timer {
        width: 104px;
        margin-left: -13px;
        height: 30px;
        font-size: 16px;
    }

    .recorder a {
        font-weight: 500;
        font-size: 10px;
        padding-right: 10px;
        color: #000000;
    }

}